*{
    margin: 0;
    padding: 0;
}
.w300 {
font-weight: 300;
}
.w400 {
font-weight: 400;
}
.w600 {
font-weight: 600;
}
.w700 {
font-weight: 700;
}
.w800 {
font-weight: 800;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.blue-menu{
    height: 40px;
    padding: 0 9%;
    font-size: 13px;
    color: #ffffff;
    background-color: #4cb1ca;
    font-family: 'Open Sans', sans-serif;

}
.bl-m-left{
    width: auto;
    float: left;
    line-height: 30px;
}
.bl-m-right {
    float:right;
    padding: 0 10px;
}
.bl-m-right li a{
    height: 13px;
    margin-top: 5px;
    padding-right:11px; 
    border-right: 1px solid white;
    
}
li, li a{
    width: auto;
    float: left;
    height: 20px;
    display: block;
    color: #bef2ff;
    text-decoration: none;
    margin: 5px 7px 5px 0;
}
li a{
    color: white;
}
.main-manu {
    width: 100%;
    height: 100px;
    padding: 25px 9%;
}
.logo{
    float: left;
    width:210px;
    height: 50px;
    font-size: 36px;
    color: #656565;
    font-family: 'Open Sans', sans-serif;
    
}

.menu li{
    float: left;
    font-size: 13px;
    color: #656565;
    padding: 14px 10px;
    font-family: 'Open Sans', sans-serif;
   
}
/*----------------------------------------------------------*/
.leftPart-ofMainManu{
    width: 62%;
    float: left;
}
.rightPart-ofMainManu{
    width: 38%;
    height: 50px;
    float: right;
    position: relative;
    
}
.search{
    top: 0px;
    right: 5px;
    width: 180px;
    float: right;
    margin: 10px 5px;
    position: relative;
}
 #mySearch{
    float: right;
    height: 25px;
    width: 175px;
    padding: 2px 5px;
    margin-right: 8px;
} 

.search-icon{
    top: 5px;
    right: 15px;
    position: absolute;
}
.green-ellipse{
    float: right;
    padding: 5px;    
    height: 57px;
    width: 77px;

}
.green-btn-1, .green-btn-2{
    float: right;
    width: 25px;
    height: 25px;
    margin: 5px 2px;
    border-radius: 50%;
    background-color: #7eb123;  

}
.cart{
    float: right;
    font-size: 13px;
    margin: 15px 5px;   
    color: #656565;       
    font-family: 'Open Sans', sans-serif;
}
.button-left,.button-right{
    top:0px;
    bottom: 0px;
    width: 80px;
    height: 80px;
    margin: auto;
    position: absolute;
    border-radius: 50%;
    background-color: white; 
}
.button-left{
    left: 50px;
}
.button-right{  
    right: 50px;

}
.baner{
    height: 55vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/baner1.png');
   
}
/*----------------------------------------------------------*/
.main-section{
    height: auto;              
    margin: 0 auto;
    background: #fff;
}
.content{
    margin: 15px 0;      
    padding: 0px 9%;
    color: #635f57;   
    min-height: 765px;
    position: relative;
    font-family: 'Open Sans', sans-serif;
}
.Featured-Products, .Staff-pick, .New-Products{
    height: auto;
    font-size: 24px;
    text-align: left;
    display: inline-block;
    text-transform: uppercase;
    padding: 25px 5px 5px 5px;
}
p{
    line-height: 8px;
}
.product{
    float: left;
    width: 250px;
    height: 350px;
    margin: 10px 20px 10px 0;
    border: 8px solid white;
    box-shadow: 0px 0px 8px #eff1f0;
}
.products-content{
    margin-right: 250px;
    display: inline-block;
}

.background-photo-1, .background-photo-2, .background-photo-3, .background-photo-4, .background-photo-5, .background-photo-6, .background-photo-7, .background-photo-8, .background-photo-9, .background-photo-10, .background-photo-11, .background-photo-12, .background-photo-13, .background-photo-14, .background-photo-15{
    float: left;
    margin: auto;
    width: 234px;
    height: 250px;
    background-color: #eff1f0;
    background-position: center;
    background-repeat: no-repeat;
    
}
.background-photo-1{
    background-image: url(../img/Featured_product-1.png);
    background-position: center;

}
.left-menu{
    top:0;
    right: 9%;
    width: 250px;
    position: absolute;
    display: inline-block;
}
.advert{
    width: 100%;
    height: 410px;
    position: relative;  
    border: 8px solid white;
    box-shadow: 0px 0px 8px #eff1f0;
}
.name-advert{
    font-size: 24px;
    color: #635f57;   
    padding: 8px 25px;
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.advert-1{
    z-index: 1;
    height: 300px;    
    background-size: contain;
    background-size: 130% 380px;
    background-repeat: no-repeat;
    background-image:url(../img/advert-1.png);
}
.btn-info{
    z-index: 3;
    left: 50px;
    bottom: 15px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 0px;
    position: absolute;
    align-items: center;
    background: #4cb1ca;
    text-decoration: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    padding: 10px 20px 10px 20px;
    font-family: 'Open Sans', sans-serif;
    }
.scroll-advert{
    top: 9px;
    width: 100%;
    height: 35px;
    padding: 9px 80px;
    position: relative;
}
.btn-scroll-1, .btn-scroll-2, .btn-scroll-3{
    float: left;
    width: 6px;
    height: 6px;
    margin: 5px;
    border-radius: 50%;
    position: relative;
    background-color: #7eb123;
}
.sing-up{
    width: 100%;
    top: 20px;
    float: right;
    height: 320px;
    position: relative;
    border: 10px solid white;
    box-shadow: 0px 0px 8px #eff1f0;
}
.news-letters{
    font-size: 24px;    
    padding: 8px 15px;
    color: #635f57;   
    text-align: center; 
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.input-news{
    font-size: 14px;
    color: #635f57;  
    padding: 5px 8px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
#input-news{
    margin: 15px 0px;
}
.btn-success{
    font-size: 14px;
    color: #ffffff;
    border-radius: 0px;
    text-decoration: none;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #7eb123;    
    padding: 10px 20px 10px 20px;
    font-family: 'Open Sans', sans-serif;

}
/*----------------------------------------------------------*/

.footer-1{
    height: 100px;
    background-color: #4cb1ca;
}
.column-1{
    width: 45%;
    float: left;
    font-size: 21pt;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 70px 10px 25px;
    font-family: 'Open Sans', sans-serif;
    
}
.column-2{
    width:40%;
    float: left;
    font-size: 21pt;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 20px 10px 70px;
    font-family: 'Open Sans', sans-serif;
    
}
.footer-2{
    height: 250px;
    padding: 10px 5px 10px 70px;
    background-color: #39a0b9;
}
.footer-3{
    height: 50px;
    background-color: #0b4b5a;
}
